<nav class="row fill-header">
  {{partial "header"}}
</nav>

<section class='row fill-body'>
	<div class="col-sm-4 col-md-3 sidebar">
    {{render "menu" menus}}
	</div>
	<div class="col-sm-8 col-md-9 main">
		{{outlet}}
	</div>
</section>