<ul class="list-unstyled">
	<li class="nav-header">
    {{#each controller}}
      {{view 'link' target=type text=name}}
    <ul class='list-unstyled collapse' {{bind-attr id='type'}} >
        {{#if controllers.admin.logged}}
        <li>
          <a href="#">
            <i class="fa fa-plus-circle"></i> Adicionar {{name}}
          </a>
        </li>
        {{/if}}
        {{#each submenus}}
          {{view 'item' model=this type_parent=controller.type}}
        {{/each}}
      </ul>
    {{/each}}
	</li>  
</ul>