<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <ul class="nav navbar-nav">
            <li class="nav active">
                <a hrfe="#" class="btn">
                    <i class="glyphicon glyphicon-pencil"></i> Editar
                </a>
            </li>
            <li class="nav">
                <a hrfe="#" class="btn">
                    <i class="glyphicon glyphicon-trash"></i> Excluir
                </a>
            </li>

        </ul>
    </div>
</div>